@import './constants.scss';
@import './mixins.scss';

html,body {
	font-family: 'Nunito', sans-serif; //substitute avenir
	box-sizing: border-box;
	height: auto;
	margin: 0px;
	padding: 0px;
	margin:0;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
	background: rgb(246,250,253);
	background: linear-gradient(146deg, rgba(246,250,253,1) 0%, rgba(255,255,255,1) 100%);
}

//*********** NAVIGATION *********** //
.navigation{
	display: flex;
	padding:3rem 5rem;
	height: 60px;
	align-items: center;
	width: 100%;
	justify-content: space-between;

	&__logo{
		cursor: pointer;
	}

	&__container{
		display: flex;
	}
	&__nav{
		display: flex;
		justify-content: space-between;
		padding: 0 40px;
	}

	&__menu{
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-left: 15%;
	}

	&__list{
		list-style: none;
		font-size: 16px;
		color:$textBlue;
		cursor: pointer;
		padding: 0 1.4rem;
		font-family: 'Nunito', sans-serif;
		font-weight: 400;
		&--active{
			color:$navyBlue;
			font-weight: 900;
		}
	}

	&__cta{
		@include button($navyBlue,#fff,16px);
		box-shadow: 0px 5px 5px 0px rgba(75,93,104,0.1);
		width: 16%;
		justify-content: center;
		&__arrow{
			@include arrow($primaryPurple);
			margin-left: 5%;
		}
	}

	&__burger{
		display: none;
		color:$primaryPink;
	}
}

//*********** HERO  *********** //
.hero{
	padding:2rem 5rem 5rem 5rem;
	display: flex;
	justify-content: center;

	&__title{
		font-size: 80px;
		color:$navyBlue;
		font-weight: 700;
		font-family: 'Helvetica', 'Arial', sans-serif;
	}

	&__description{
		color:$textBlue;
		font-size: 18px;
		margin-top:5%;
		width: 77%;
		line-height: 160%;
		font-family: 'Nunito', sans-serif;
		font-weight: 400;
	}

	&__cta{
		@include button(white,$primaryPurple,16px);
		padding: 1rem 2rem;
		font-size: 16px;
		margin-top:5%;
		width: 170px;
	}

	&__img{
		width: 750px;
		float: right;
		position: relative;
	}
}
//*********** ABOUT *********** //
.about{
	padding:5rem;
	display: flex;

	&__container{
		border-radius: 50px;
		display: flex;
		background-color: rgba(	240, 99, 184,0.15);
		justify-content: space-between;
		padding: 30px;
	}

	.aboutText{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;

		&__title{
			color:$navyBlue;
			font-size: 40px;
			font-weight: bold;
			line-height: 130%;
			font-family: 'Helvetica', 'Arial', sans-serif;
		}

		&__description{
			font-size: 18px;
			color: $textBlue;
			line-height: 1.6;
			margin-top: 5%;
			font-family: 'Nunito', sans-serif;
			font-weight: 400;
			margin-right: 14%;
		}
	}
}

//*********** FEATURES *********** //
.features{
	padding: 5rem;
	.features__header{
		width:50%;
		text-align: center;
		margin: 0 auto;
		h3{
			font-size: 40px;
			color:$navyBlue;
			line-height: 1.3;
			font-family: 'Helvetica', 'Arial', sans-serif;
			margin-bottom: 10%;
		}
		p{
			color:$textBlue;
			font-size: 18px;
			line-height: 1.6;
		}
	}

	.features__grid{
		margin-top:10%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 5em;
		margin-left: 126px;
		.features__item{
			display: flex;
			margin: 0 auto;
			.features__item-info{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 40px 97px;
				height: 308px;
				width: 408px;
				border-radius: 50px;
				position: relative;
				z-index: 10;
				h4{
					font-style: normal;
					color:$navyBlue;
					font-size: 24px;
					line-height: 1.3;
					margin-bottom: 5%;
				}

				p{
					color:$textBlue;
					font-size: 16px;
					line-height: 1.6;
					z-index: 1;
					font-family: 'Nunito', sans-serif;
					font-weight: 300;
				}

				a{
					text-decoration: none;
					color:$navyBlue;
					font-size: 15px;
					letter-spacing: 0.5px;
					font-weight: 600;
					margin-top: 5%;
				}
				.features__arrow{
					color:$primaryPurple;
					margin-left: 5%;

				}
			}

			.features__item-img{
				display: flex;
				flex-direction: column;
				align-items: center;
				align-self: center;
				position: relative;
				img{
					width: 200px;
					position: absolute;
					z-index: 11;
					right:-80px

				}
				#data-img{
					top: -95px;
				}
				#print-img{
					top: -42px;
				}
				#hours-img{
					top: -80px;
				}
				#security-img{
					top: -80px;
				}
			}
		}
	}
}

div#data.features__item{
	background-image: url('./images/rectangleGreen.png');
	background-repeat: no-repeat;
	.features__circle-sm{
		position: absolute;
		width: 40px;
		right: 168px;
    	top: 14px;
	}
	.features__circle{
		position: absolute;
		transform: rotate(187deg);
		bottom: 147px;
		left: 142px;
		width: 186px;
	}

}

//customize features
div#hours.features__item{
	background-image: url('./images/rectanglePurple.png');
	background-repeat: no-repeat;

	.features__circle{
		position: absolute;
		top: 116px;
		right: 75px;
		width: 208px;
		transform: rotate(-11deg);
	}
}

div#print.features__item{
	background-image: url('./images/rectanglePink.png');
	background-repeat: no-repeat;
	.features__circle{
		position: absolute;
		right: 75px;
		top: 23px;
		transform: rotate(128deg);
	}
}

div#security.features__item{
	background-image: url('./images/rectangleBlue.png');
	background-repeat: no-repeat;

	.features__circle-sm{
		position: absolute;
		bottom: 30px;
		right: 81px;
		width: 50px;
	}
	.features__circle{
		position: absolute;
		transform: rotate(-60deg);
		right: 101px;
		bottom: 36px;
		width: 331px;

	}
}

//*********** Testimonals *********** //
.testimonials{
	padding: 5rem;
	display: flex;
	margin-bottom: 10%;
	.testimonialContainer{
		border-radius: 50px;
		display: flex;
		background-color: $primaryPurple;
		justify-content: space-between;
		padding-right: 0px;
		flex-direction: column;
		width: 97%;
		margin:0 auto;

		&__title{
			margin: 5% 10%;
			font-size: 40px;
			color:white;
			font-family: 'Helvetica', 'Arial', sans-serif;
		}
	}

	.testimonalSlider{
		display: flex;
		justify-content: flex-end;

		&__item{
			border-radius: 20px;
			padding: 60px 50px;
			width:34%;
			display: flex;
			box-shadow: 0px 15px 0px 0px #8A56DB;
			border: 1px solid #9C69E2;
			background: linear-gradient(102deg, rgba(255,255,255,1) 14%, rgba(167,121,229,1) 91%, rgba(156,105,226,1) 100%);
			height: 90%;

			&--active{
				width: 52%;
				margin-right: 3%;
				padding: 60px;
				background: white;
			}
		}
		&__img{
			width:80px;
			height: 80px;
		}
		&__info{
			padding:0 20px;
		}
		&__name{
			color:$navyBlue;
			font-size: 18;
			line-height: 1.6;
			letter-spacing: 0.5px;
		}
		&__title{
			letter-spacing: 1px;
			color:$primaryPurple;
			font-size: 14px;
			line-height: 1.6;
			margin-bottom: 20px;
		}
		&__description{
			color:$textBlue;
			font-size: 18;
			line-height: 1.8;
			font-family: 'Nunito', sans-serif;
		}
	}
}

.testimonials .testimonialContainer .testimonalsFooter{
	width: 100%;
	padding: 2rem 8rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	align-items: center;

	&__dots{
		border-radius: 50px;
		background-color:#E9E9EE;
		height: 5px;
		width: 5px;
		display: inline-block;
		margin-right: 5px;
		cursor: pointer;

		&--active{
			height:7px;
			width: 7px;
			background-color:$primaryPink
		}
	}

	&__arrows{
		display: flex;
		align-items: center;
		width: 10%;
		justify-content: space-around;

		&__left{
			color: white;
			font-size: 35px;
			cursor: pointer;
		}

		&__right{
			cursor: pointer;
			font-size: 20px;
			color:#CEB5F1 !important;
		}
	}
}

//*********** FOOTER *********** //
.footer{
	padding:0 5rem;
	padding-bottom: 5rem;

	&__hr{
		border:1px solid #EBE1F9 ;
		margin-bottom: 5%;
	}
	.footerHeader{
		display: flex;
		justify-content: space-between;
		margin-bottom: 10%;

		.footerInfo{
			&__title{
				font-size: 40px;
				color:$navyBlue;
				line-height: 1.3;
				font-family: 'Helvetica', 'Arial', sans-serif;
				font-weight: 700;
			}
			&__subTitle{
				color:$textBlue;
			font-size: 18;
			line-height: 1.6;
			margin-top: 5%;
			font-family: 'Nunito', sans-serif;
			font-weight: 300;
			}
		}
	}

	.footerbtns{
		display: flex;
		width: 50%;
		justify-content: flex-end;

		&__btn{
			line-height: 1.6;
			margin-left: 5%;
			padding:10px 35px;

			&--learn{
				@include button(white,$primaryPink,18px);
			}
			&--demo{
				display: flex;
				@include button($navyBlue,white,18px);
				box-shadow: 0px 5px 5px 0px rgba(75,93,104,0.1);
				justify-content: center;
				width: 39%;
			}
		}
		&__arrow{
			@include arrow($primaryPurple);
			margin-left: 2%;
		}
	}
}

.footer .footerMain{
	display: flex;
	justify-content: space-between;

	.footerAddress{
		&__info{
			font-size: 18px;
			color:$navyBlue;
			line-height: 1.8;
			letter-spacing: 1;

			&:last-child{
				margin-top: 5%;
				font-weight: 100;
			}
		}
	}

	.footerLinks{
		padding:0 10px;
			&__logo{
				display: flex;
				justify-content: flex-start;
				margin-bottom: 20%;
			}
			&__name{
				color:$navyBlue;
				font-size: 20px;
				line-height:1.6;
				margin-left:5%;
			}

			&__title{
				font-size: 16px;
				font-weight: 800;
				color:$navyBlue;
				margin-bottom: 100%;
			}
			&__socialTitle{
				font-size: 16px;
				font-weight: 800;
				color:$navyBlue;
				margin-bottom: 25%;
			}

			&__list{
				list-style: none;
				font-size: 16px;
				color:$navyBlue;
				line-height: 2.5;

				&--social{
					display: flex;
					justify-content: flex-start;
				}
			}

			&__item{
				&--social{
					margin-right: 10%;
				}
			}

			&--social{
				width: 222px;
		}
	}
}


.footerLinks__circle{
	margin-right: 5%;
	border-radius: 50px;
	background-color:#E9E9EE;
	height: 40px;
	width: 40px;
	display: inline-block;
	cursor: pointer;
}

//*********** MEDIA QUERIES  *********** //
//small devices
@media screen and (max-width: 860px) {
	.navigation{
		padding: 3rem 2rem;
		&__menu{
			display:none
		}
		&__cta{
			display: none;
		}
		&__burger{
			color:$primaryPink;
			display: block;
			font-size: 40px;
			display: flex;
			cursor: pointer;
		}
	}

	.hero{
		flex-direction: column;
		padding: 2rem;

		&__title{
			font-size: 40px;
		}

		&__description{
			width: unset;
		}

		&__img {
			width:100%;
			margin:10% 0;
			bottom:0;
			float: unset;
		}
	}

	.about{
		padding: 2rem;
		&__container{
			flex-direction: column;
		}
		.aboutText{
			width: 100%;
			padding:20px;
			&__title{
				margin-bottom: 5%;
			}
			&__description{
				margin:0;
			}
		}

		&__image img{
			width: 100%;
		}
	}

	.testimonials{
		padding: 2rem;
		.testimonialContainer {
			padding: 20px;
		}
		.testimonalSlider{
			&__item{
				display: none;
				&--active{
					width:100%;
					display: block;
					margin:0;
					padding: 20px;
					height: auto;
				}
			}
		}

		.testimonalsFooter{
			padding: 0.5rem 3rem !important;

			&__arrows{
				width: 30% !important;
			}
		}
	}

	.features{
		padding:2rem;
		 .features__header{
			width: unset;
		 }
		.features__grid{
			grid-template-columns: repeat(1, 1fr);
			margin-left: 0;
			margin-top: 50%;
			.features__item{
				flex-direction: column;
					.features__item-info{
						padding: 75px;
				}
				.features__item-img{
					#print-img{
						top:-70px !important;
					}
				}
			}
		}
	}

	.footer {
		.footerHeader{
			flex-direction: column;
			align-items: center;
		}
		.footerInfo{
			&__title, &__subTitle{
				text-align: center;
			}
		}

		.footerbtns{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			&__btn{
				width: 100%;
				margin:  5% 0;
			}
		}
	}

	.footer .footerMain{
		flex-direction: column;
		.footerLinks{
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
			align-items: center;

			&__logo{
				margin-bottom: 10%;
				justify-content: space-evenly;
			}

			&__title, &__subTitle, &__socialTitle{
				margin: 10% 0;
			}

			&--social{
				width: unset;
			}

			&__item{
				&--social{
					margin: 0 10px;
				}
			}
		}
	}
}


//large screeens
@media screen and (min-width: 1800px) {
	.navigation, .landing,.about, .testimonials,.footer, .features{
		padding:5rem 20rem;
	}
	.landing{
		.landing__text{
			margin-top:5%;
		}
	}
	.features__header{
		p{
			margin-bottom: 5%;
		}
	}
}
