html, body {
  font-family: 'Nunito', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  margin: 0px;
  padding: 0px;
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #f6fafd;
  background: linear-gradient(146deg, #f6fafd 0%, white 100%);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 5rem;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__logo {
  cursor: pointer;
}

.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15%;
}

.navigation__list {
  list-style: none;
  font-size: 16px;
  color: #4B5D68;
  cursor: pointer;
  padding: 0 1.4rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.navigation__list--active {
  color: #212353;
  font-weight: 900;
}

.navigation__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  border: none;
  color: #212353;
  background-color: #fff;
  font-size: 16px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  width: 16%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__cta__arrow {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
  color: #9C69E2;
  margin-left: 5%;
}

.navigation__burger {
  display: none;
  color: #F063B8;
}

.hero {
  padding: 2rem 5rem 5rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  font-size: 80px;
  color: #212353;
  font-weight: 700;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.hero__description {
  color: #4B5D68;
  font-size: 18px;
  margin-top: 5%;
  width: 77%;
  line-height: 160%;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.hero__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #9C69E2;
  font-size: 16px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 1rem 2rem;
  font-size: 16px;
  margin-top: 5%;
  width: 170px;
}

.hero__img {
  width: 750px;
  float: right;
  position: relative;
}

.about {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__container {
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(240, 99, 184, 0.15);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.about .aboutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.about .aboutText__title {
  color: #212353;
  font-size: 40px;
  font-weight: bold;
  line-height: 130%;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.about .aboutText__description {
  font-size: 18px;
  color: #4B5D68;
  line-height: 1.6;
  margin-top: 5%;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-right: 14%;
}

.features {
  padding: 5rem;
}

.features .features__header {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.features .features__header h3 {
  font-size: 40px;
  color: #212353;
  line-height: 1.3;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 10%;
}

.features .features__header p {
  color: #4B5D68;
  font-size: 18px;
  line-height: 1.6;
}

.features .features__grid {
  margin-top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 5em;
  margin-left: 126px;
}

.features .features__grid .features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.features .features__grid .features__item .features__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 97px;
  height: 308px;
  width: 408px;
  border-radius: 50px;
  position: relative;
  z-index: 10;
}

.features .features__grid .features__item .features__item-info h4 {
  font-style: normal;
  color: #212353;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 5%;
}

.features .features__grid .features__item .features__item-info p {
  color: #4B5D68;
  font-size: 16px;
  line-height: 1.6;
  z-index: 1;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.features .features__grid .features__item .features__item-info a {
  text-decoration: none;
  color: #212353;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-top: 5%;
}

.features .features__grid .features__item .features__item-info .features__arrow {
  color: #9C69E2;
  margin-left: 5%;
}

.features .features__grid .features__item .features__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}

.features .features__grid .features__item .features__item-img img {
  width: 200px;
  position: absolute;
  z-index: 11;
  right: -80px;
}

.features .features__grid .features__item .features__item-img #data-img {
  top: -95px;
}

.features .features__grid .features__item .features__item-img #print-img {
  top: -42px;
}

.features .features__grid .features__item .features__item-img #hours-img {
  top: -80px;
}

.features .features__grid .features__item .features__item-img #security-img {
  top: -80px;
}

div#data.features__item {
  background-image: url("./images/rectangleGreen.png");
  background-repeat: no-repeat;
}

div#data.features__item .features__circle-sm {
  position: absolute;
  width: 40px;
  right: 168px;
  top: 14px;
}

div#data.features__item .features__circle {
  position: absolute;
  -webkit-transform: rotate(187deg);
          transform: rotate(187deg);
  bottom: 147px;
  left: 142px;
  width: 186px;
}

div#hours.features__item {
  background-image: url("./images/rectanglePurple.png");
  background-repeat: no-repeat;
}

div#hours.features__item .features__circle {
  position: absolute;
  top: 116px;
  right: 75px;
  width: 208px;
  -webkit-transform: rotate(-11deg);
          transform: rotate(-11deg);
}

div#print.features__item {
  background-image: url("./images/rectanglePink.png");
  background-repeat: no-repeat;
}

div#print.features__item .features__circle {
  position: absolute;
  right: 75px;
  top: 23px;
  -webkit-transform: rotate(128deg);
          transform: rotate(128deg);
}

div#security.features__item {
  background-image: url("./images/rectangleBlue.png");
  background-repeat: no-repeat;
}

div#security.features__item .features__circle-sm {
  position: absolute;
  bottom: 30px;
  right: 81px;
  width: 50px;
}

div#security.features__item .features__circle {
  position: absolute;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  right: 101px;
  bottom: 36px;
  width: 331px;
}

.testimonials {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
}

.testimonials .testimonialContainer {
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9C69E2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 97%;
  margin: 0 auto;
}

.testimonials .testimonialContainer__title {
  margin: 5% 10%;
  font-size: 40px;
  color: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.testimonials .testimonalSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.testimonials .testimonalSlider__item {
  border-radius: 20px;
  padding: 60px 50px;
  width: 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 15px 0px 0px #8A56DB;
          box-shadow: 0px 15px 0px 0px #8A56DB;
  border: 1px solid #9C69E2;
  background: linear-gradient(102deg, white 14%, #a779e5 91%, #9c69e2 100%);
  height: 90%;
}

.testimonials .testimonalSlider__item--active {
  width: 52%;
  margin-right: 3%;
  padding: 60px;
  background: white;
}

.testimonials .testimonalSlider__img {
  width: 80px;
  height: 80px;
}

.testimonials .testimonalSlider__info {
  padding: 0 20px;
}

.testimonials .testimonalSlider__name {
  color: #212353;
  font-size: 18;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.testimonials .testimonalSlider__title {
  letter-spacing: 1px;
  color: #9C69E2;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.testimonials .testimonalSlider__description {
  color: #4B5D68;
  font-size: 18;
  line-height: 1.8;
  font-family: 'Nunito', sans-serif;
}

.testimonials .testimonialContainer .testimonalsFooter {
  width: 100%;
  padding: 2rem 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .testimonialContainer .testimonalsFooter__dots {
  border-radius: 50px;
  background-color: #E9E9EE;
  height: 5px;
  width: 5px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.testimonials .testimonialContainer .testimonalsFooter__dots--active {
  height: 7px;
  width: 7px;
  background-color: #F063B8;
}

.testimonials .testimonialContainer .testimonalsFooter__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.testimonials .testimonialContainer .testimonalsFooter__arrows__left {
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.testimonials .testimonialContainer .testimonalsFooter__arrows__right {
  cursor: pointer;
  font-size: 20px;
  color: #CEB5F1 !important;
}

.footer {
  padding: 0 5rem;
  padding-bottom: 5rem;
}

.footer__hr {
  border: 1px solid #EBE1F9;
  margin-bottom: 5%;
}

.footer .footerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10%;
}

.footer .footerHeader .footerInfo__title {
  font-size: 40px;
  color: #212353;
  line-height: 1.3;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
}

.footer .footerHeader .footerInfo__subTitle {
  color: #4B5D68;
  font-size: 18;
  line-height: 1.6;
  margin-top: 5%;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.footer .footerbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footerbtns__btn {
  line-height: 1.6;
  margin-left: 5%;
  padding: 10px 35px;
}

.footer .footerbtns__btn--learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #F063B8;
  font-size: 18px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.footer .footerbtns__btn--demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  border: none;
  color: #212353;
  background-color: white;
  font-size: 18px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39%;
}

.footer .footerbtns__arrow {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
  color: #9C69E2;
  margin-left: 2%;
}

.footer .footerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerMain .footerAddress__info {
  font-size: 18px;
  color: #212353;
  line-height: 1.8;
  letter-spacing: 1;
}

.footer .footerMain .footerAddress__info:last-child {
  margin-top: 5%;
  font-weight: 100;
}

.footer .footerMain .footerLinks {
  padding: 0 10px;
}

.footer .footerMain .footerLinks__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20%;
}

.footer .footerMain .footerLinks__name {
  color: #212353;
  font-size: 20px;
  line-height: 1.6;
  margin-left: 5%;
}

.footer .footerMain .footerLinks__title {
  font-size: 16px;
  font-weight: 800;
  color: #212353;
  margin-bottom: 100%;
}

.footer .footerMain .footerLinks__socialTitle {
  font-size: 16px;
  font-weight: 800;
  color: #212353;
  margin-bottom: 25%;
}

.footer .footerMain .footerLinks__list {
  list-style: none;
  font-size: 16px;
  color: #212353;
  line-height: 2.5;
}

.footer .footerMain .footerLinks__list--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footerMain .footerLinks__item--social {
  margin-right: 10%;
}

.footer .footerMain .footerLinks--social {
  width: 222px;
}

.footerLinks__circle {
  margin-right: 5%;
  border-radius: 50px;
  background-color: #E9E9EE;
  height: 40px;
  width: 40px;
  display: inline-block;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .navigation {
    padding: 3rem 2rem;
  }
  .navigation__menu {
    display: none;
  }
  .navigation__cta {
    display: none;
  }
  .navigation__burger {
    color: #F063B8;
    display: block;
    font-size: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__description {
    width: unset;
  }
  .hero__img {
    width: 100%;
    margin: 10% 0;
    bottom: 0;
    float: unset;
  }
  .about {
    padding: 2rem;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .aboutText {
    width: 100%;
    padding: 20px;
  }
  .about .aboutText__title {
    margin-bottom: 5%;
  }
  .about .aboutText__description {
    margin: 0;
  }
  .about__image img {
    width: 100%;
  }
  .testimonials {
    padding: 2rem;
  }
  .testimonials .testimonialContainer {
    padding: 20px;
  }
  .testimonials .testimonalSlider__item {
    display: none;
  }
  .testimonials .testimonalSlider__item--active {
    width: 100%;
    display: block;
    margin: 0;
    padding: 20px;
    height: auto;
  }
  .testimonials .testimonalsFooter {
    padding: 0.5rem 3rem !important;
  }
  .testimonials .testimonalsFooter__arrows {
    width: 30% !important;
  }
  .features {
    padding: 2rem;
  }
  .features .features__header {
    width: unset;
  }
  .features .features__grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
    margin-top: 50%;
  }
  .features .features__grid .features__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .features__grid .features__item .features__item-info {
    padding: 75px;
  }
  .features .features__grid .features__item .features__item-img #print-img {
    top: -70px !important;
  }
  .footer .footerHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footerInfo__title, .footer .footerInfo__subTitle {
    text-align: center;
  }
  .footer .footerbtns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footerbtns__btn {
    width: 100%;
    margin: 5% 0;
  }
  .footer .footerMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footerMain .footerLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footerMain .footerLinks__logo {
    margin-bottom: 10%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .footerMain .footerLinks__title, .footer .footerMain .footerLinks__subTitle, .footer .footerMain .footerLinks__socialTitle {
    margin: 10% 0;
  }
  .footer .footerMain .footerLinks--social {
    width: unset;
  }
  .footer .footerMain .footerLinks__item--social {
    margin: 0 10px;
  }
}

@media screen and (min-width: 1800px) {
  .navigation, .landing, .about, .testimonials, .footer, .features {
    padding: 5rem 20rem;
  }
  .landing .landing__text {
    margin-top: 5%;
  }
  .features__header p {
    margin-bottom: 5%;
  }
}
/*# sourceMappingURL=home.css.map */