@mixin button($color, $backgroundColor, $fontSize) {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    border:none;
    color:$color;
    background-color:$backgroundColor;
    font-size: $fontSize;
    border-radius: 50px;
    align-items: center;
    height: 60px;
}

@mixin arrow ($color){
    transform: rotate(45deg) !important;
    color:$color;
}

